<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyOpengl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>656090F81F53FABA00C59A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656091141F53FABA00C59A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6560911F1F53FABA00C59A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
